*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    /* margin: 0;
    padding:0; */

}
.wrap{
  max-width: 1500px;
  width: 100%;
  /* border:1px solid red;  */
}

.wrap2{
    background-color: #F3F5F5;
    /* border:1px solid red; */

}

    
.navbar{
    /* border: solid red 1px; */
    background: white; 
    font-family: calibri; 
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    /* margin-bottom: 10px; */
    box-shadow: 0px 6px  rgba(0, 0, 0, 0.1);
    
}
.navdiv{
    /* border: solid green 2px; */
    display: flex; 
    justify-content: space-between;
    padding-left: 20px;
    /* margin: 5px; */
    
    
}
/* .logo{
    border: solid red 1px;
    
} */
.logo a{

    font-size: 20px; 
    font-weight: 400; 
    color:#60696D;
    
}
li{
    /* border: solid red 1px; */
    list-style: none; 
    display: inline-block;
}
li a{
    color: black; 
    font-size: 20px; 
    font-weight: bold; 
    margin-right: 25px;
    
}
button{
    /* border: solid black 1px; */
    background-color: #357abd; 
    /* margin-left: 10px;  */
    padding: 5px 5px;
    border-radius: 2px;
    /* padding: 10px; */
    /* margin-top: 5px; */
    /* margin-bottom: 10px; */
    width: 90px;
    border: 0;
}
button a{
    /* border: solid black 1px; */
    color: white; 
    font-weight: bold; 
    font-size: 10px;
}

/* h1{
    border: 1px solid red;
} */
/* .main{
    border: 1px solid red;

} */
.main1{
    text-align: center;
    height: 400px;
    font-size: 30px;
    /* margin-top: 50px; */
    padding-top: 50px;
    padding-bottom: 50px;
    color: #2A465A;
    font-family: calibri; 
    /* border: 1px solid red; */
  }
.main-button {
    padding: 8px;
    font-size: 10px;

    color: white;             
    background-color: #4685C2; 
    margin-top: 30px;
    margin-bottom: 30px;
    border:0;
  }
  .container{
    /* border:solid black 2px; */
    display:flex;
    justify-content: space-evenly;

  }
  #card{
    /* border:solid black 2px; */
    height: 200px ;
    width:300px ;
    background-color: white;
    /* border-top-left-radius:20px; */
    margin:10px 10px;
    box-shadow: 0px 15px 5px  rgba(0, 0, 0, 0.1);
    color: #1C3C56;
  }
  .content{
    /* border: solid red 2px; */
    /* margin-top: 30px;
    margin-bottom: 10px; */
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: calibri; 
  }
  .icons{
    /* border: 1px solid red; */
    /* margin: 10px; */
    margin-top: 20px;
    margin-left: 20px;
  }
  h3,p{
    
    margin: 10px;
  }
  p{
    color: darkgrey;
    font-size: 15px;
  }